@font-face {
  font-family: canaro;
  src: url(Canaro-Bold.ttf);
}
@font-face {
  font-family: zona;
  src: url(ZonaPro-Ultra.ttf);
}
body{
  background-color: #BEE4D1;
  margin-top: 35px;
}
.screen{
  background-color:rgba(221,250,232,255);
  background-image: url(back.png);
  background-position: bottom left;
  margin:auto;
  height: 80vh;
  width: 90vw;
  background-repeat: no-repeat;
  background-size: 30%;
}
#pic{
  width: 300px;
  float:right
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  background-color: rgba(221,250,232,255);
}

.navigations{
  font-family: canaro;
  width: 50%;
  justify-content: space-around; 
  display: flex;
}

.actions{
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
  color:rgba(69,142,105,255);
  font-weight: bold;
}

#logo{
  object-fit: contain;
  width: 20%;
}

input{
  padding-left: 15px;
  height: 40px;
  font-weight: medium;
  color: darkslategray;
  margin:8px;
  border-style: solid;
  border-width: 0px;
  border-radius: 25px;
}

button{
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgba(103,192,147,255);
  color: white;
  border-style: solid;
  border-width: 0px;
  height: 40px;
  width: 80px;
  border-radius: 20px;

}

#title{
  display:block;
  font-family: 'zona';
  margin-left:42px;
  font-size: 50px;
  width: 20%;
  margin-top:100px;
  text-align: center;
  color: #67C093;
}

.emailform{
  display: inline-block;
  border-radius: 30px;
  margin-left: 40px;
  background-color: white;
}
#email_sec{
  width: 250px;
}

#button_sec{
  border-radius: 22px;
  height: 45px;
  width: 120px;
  margin-right: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 38px;
  padding:1px;
}